<mat-toolbar>
    <mat-toolbar-row>
        <div class="header">

  
        <div class="row">
            <button mat-icon-button (click)="toggleSidebar()">
                <mat-icon>menu</mat-icon>
            </button>
            <div class="content">Admin Epicure</div>
        </div>
      
        <button (click)="signOutClick()" class="signout" mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            Sign Out
        </button>
    </div>
    </mat-toolbar-row>
 
</mat-toolbar>