<div class="btns">
    <app-button-create (buttonClick)="onClickCreate()"></app-button-create>
<button class="btn" mat-button (click)="onClickChefOfTheWeek()">Update Chef Of The Week</button>
</div>
<app-table (deleteEmitter)="onEmitRefresh()" [dataSource]="dataSource" [headers]="headers"></app-table>
<app-chef-form (close)="onEmitRefresh()" (chef)="chefToUpdate" *ngIf="showForm"></app-chef-form>
<app-chef-of-the-week-form *ngIf="showFormChefOfTheWeek" (close)="onEmitRefresh()"></app-chef-of-the-week-form>