.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.btn{
    background-color:  rgb(28, 185, 130);
}

.btn-container{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}