:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}
mat-drawer {
    width: 350px;
}
mat-drawer-container {
    background-color: wheat;
    height: 100%;
}
mat-drawer-content {
    padding: 20px;
}

.container{
    display: flex;
    flex-direction: column;
}