<div class="field" [formGroup]="form">
    <div *ngIf="isNotCheckbox" class="label" [attr.for]="field.key">{{field.label}}</div>

    <div class="container-field" [ngSwitch]="field.controlType">

        <!-- add here more fields if necessary -->

        <!-- list option -->
        <ng-container  *ngSwitchCase="'list'">
            <div class="list">
                <div class="ingredient-input-container">
                    <input class="input-ingredient" #myInput type="text" id="ingredient-field">
                    <button class="button" type="button" (click)="addIngredient()">Add Ingredient</button>
                </div>
                <select (click)="onSelectClicked()" (change)="onOptionClicked($event)" class="input" [id]="field.key">
                    <option *ngFor="let opt of getIngredients; let i = index" [value]="opt">
                        <div class="option-container">
                                {{opt}}&nbsp;&nbsp;&nbsp;&nbsp; - 
                                click to delete
                        </div>
                    </option>
                </select>
            </div>
        </ng-container>

        <!-- checkbox option -->
        <ng-container class="checkbox" *ngSwitchCase="'checkbox'">
            <input  [formControlName]="field.key" type="checkbox" [value]="field.value"> {{field.label}}
        </ng-container> 

        <!-- textbox option -->
        <input (ngModelChange)="onInputChange()" class="input" *ngSwitchCase="'textbox'" [formControlName]="field.key"
            [id]="field.key" [type]="field.type">

            
        <!-- dropdown option -->
        <select class="input" [id]="field.key" *ngSwitchCase="'dropdown'" [formControlName]="field.key">
            <option *ngFor="let opt of field.options" [value]="opt.key">{{opt.value}}</option>
        </select>

    </div>

    <div class="errorMessage" *ngIf="checkIfNotValidRequired && !isFirst">{{field.label}} is required</div>
    <div class="errorMessage" *ngIf="checkIfNotValidMin && !isFirst">{{field.label}} has to be above {{field.minNumber}}
    </div>
    <div class="errorMessage" *ngIf="checkIfNotValidMax && !isFirst">{{field.label}} has to be under {{field.maxNumber}}

    </div>