.field{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-bottom: 16px;
width: 100%;
}

.button{
    border-radius: 20px;
    background-color: wheat;
    border: none;
    padding: 8px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.label {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 8px;
}


.list{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.input-ingredient{
    opacity: 0.85;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 270px;
    height:30px;
}

.input{
    opacity: 0.85;
    // background-color:  rgb(28, 185, 130);
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 400px;
    height:30px;
}


.option-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: red;
}
.ingredient-input-container{
    display: flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 10px;
    gap:5px;
}

.select{
    font-size: 16px;
    border-radius: 4px;
    border: 3px solid #ccc;
    width: 250px;
}

.errorMessage{
    color: red;
  font-size: 20px;
  margin-top: 8px;
}

.checkbox{
    // width: 100%;
    // background-color: red;
}

.container-field{
    width: 100%;
}