<div class="overlay"></div>
<div class="card">


    <form  class="form-container" (ngSubmit)="onSubmit()" [formGroup]="form">

        
       


        <mat-form-field *ngIf="!isSubmitted">
            <mat-label>Chefs</mat-label>
            <mat-select formControlName="chef">
              <mat-option *ngFor="let chef of chefs" [value]="chef.key">
                {{chef.value}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="chef?.invalid && chef?.touched">
                chef required
            </mat-error>
          </mat-form-field>

        <div *ngIf="isSubmitted">
            You Succeeded!
        </div>

        <div class="button-container">
            <button *ngIf="!isSubmitted" mat-raised-button type="submit" [disabled]="form.invalid"
                class="button">Update</button>
            <button mat-raised-button type="button" (click)="onCloseClick()" class="button">Close</button>

        </div>




    </form>
</div>